*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  background-color: #f0f0f0;
}

/* header */

header{
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #00000078;
  background-color: #fff;
  z-index: 999;
}

/* content */

.container{
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container ul{
  width: 90%;
  display: flex;
  justify-content: space-around;
  
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}
.container ul li{
  width: 160px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 2px #00000078;
}
.container ul li:hover{
  box-shadow: 0 0 4px #00000078;
}

/* search */

.search-container{
  width: 95%;
  padding-left: 20px;
}
.search{
  padding: 5px;
  width: 230px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input{
  border: none;
  outline: none;
}
.search button{
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  background-image: url('assets/image/search.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*  liading  */
.load-container{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.load-bg{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px #00000078;
  border-radius: 10px;
}
.loading-spinner {
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-top: 7px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
